/* Style ของหน้านี้เป็นการจัดหน้า Customer ทั้งหมด */
/* มีการใช้ทักษะการ กดปุ่ม ชี้ปุ่ม */
/* มีการใช้ทักษะการ แบ่งตาราง เพื่อจัดหน้า */
/* มีการใช้ทักษะการ ดึง font ภายนอกมาใช้ */

/* การนำ font จากภายนอกเข้ามาใช้งาน */
 @import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300&family=Varela+Round&display=swap');

/* ปุ่ม Add ไว้เพิ่มข้อมูล */
 .button_add {
  background-color: rgb(29, 119, 204);
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 15px;
  border-radius: 5px; 
}

.button_add:hover {
  background-color: rgb(11, 64, 117);
  border: none;
  color: rgb(255, 255, 255);
}

/* แสดงรายละเอียดจากฟังก์ชัน showCustomers */
.list {
  display: flex;
  justify-content: center;
  font-family: "Monaco",  monospace;
  list-style: none;
  margin: 10px;
  padding: 1px;
  flex-wrap: wrap;
  width: 80vw;
  font-family: 'Karantina', cursive;
  font-family: 'Varela Round', sans-serif;
}

.list1 {
  background-color: rgb(75, 105, 93);
  color: aliceblue;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 35px;
  padding: 15px;
  flex-wrap: wrap;
  width: 80vw;
}

/* style หลักของทั้งหน้า  */
.container { 
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  font-family: 'Karantina', cursive;
  font-family: 'Varela Round', sans-serif;
}

.listItem {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  border: 2px solid rgb(151, 151, 151);
  border-radius: 10px;
  font-size: 1rem;
}

.listItem > div{
  margin: 8px 8px;
}

.listItem > div > q{
  color: rgb(5, 146, 0);
}

/* style ในส่วน form ของการ Add ข้อมูล พวก Text, font  */
.form_add {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 30px;
  font-size: 1.6rem;
  border-radius: 10px;
  text-align: center;
}

.form_add1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 1.4rem;
  border-radius: 10px;
  text-align: center;
}
 
/* style กำหนดสีข้อความ Status เพื่อให้ดูข้อมูลง่ายขึ้น ชัดขึ้น สีโดดเด่น */
.text {
  text-align: center;
  color: rgb(40, 185, 35);
  size: 15px;
} 

/* style ปุ่มเลขเครื่องซักผ้า */
.button_ID {
  background-color: rgb(134, 185, 187);
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button_ID:hover{
  background-color: #c5c2b1;
  color: #fff;
} 
  
.button_ID:after {
  background-color: aliceblue;
}

.wight{
  font-size: 8px;
  background-color: rgb(254, 255, 217);
  border-radius: 5px;
  width: 380px;
}

.form{ 
  margin-top: 30px;
  border: 7px solid rgba(126, 113, 113, 0.205); 
}

.textConfirm{
  border: 1px dashed rgba(155, 176, 204, 0.788);
  font-size: 20px;
  margin-top: 20px;
  color: rgb(109, 109, 109);
}

.fontTitle{
  font-size: 25px;
  color: rgb(81, 110, 138);
}
