.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.content {
    min-width: 25vw;
}

.gridContainer {
    display: grid;
    border: 1px solid rgba(102, 102, 102, 0.678);
    grid-template-columns: 100px auto;
    margin-bottom: 16px;
    background-color: rgba(219, 214, 214, 0.747);
    border-radius: 15px;
    padding: 10px 50px 10px 50px;
}

.gridContainer>div {
    font-family: "Monaco",  monospace;
    color: rgb(66, 66, 66);
    text-align: left;
    padding: 10px;
    font-size: 1rem;
}

.gridContainer>div>input {
    width: 90%;
    padding: 2.5px 18px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid rgb(195, 196, 171);
    box-sizing: border-box;
    font-size: 1.2rem;
    border-radius: 4px;
}

.btucopy {
    background-color: #c4ad47;
    color: rgb(48, 48, 48);
    border:none;
}

.btulogin {
    background-color:rgb(69, 145, 180);
    color: rgb(48, 48, 48);
    border:none;
}
.bturegister {
    background-color: #4ab64a;
    color: rgb(48, 48, 48);
    border:none;
}
.text{
    color: blue;
}
.btn{
    background-color: #4ab64a;
    border-radius: 50px;
    border: none;
    color: rgb(48, 48, 48);
    padding: 5px 70px 5px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .btn {
    background-color: #4ab64a;
    color: rgb(48, 48, 48);
    font-size: 1rem;
    margin-top: 10px;
    border: none;
  }
  .btn:hover{
        background-color: #84a788;
        color: #fff;
        font-size: 1rem;
        margin-top: 10px;
        border: none;
  }
  .btn1{
    background-color: #c4ad47;
    border-radius: 35px;
    border: none;
    color: rgb(48, 48, 48);
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .btn1 {
        background-color: #c4ad47;
        color: rgb(48, 48, 48);
        font-size: 1rem;
        margin-top: 10px;
        border: none;
  }

  .btn1:hover{
    background-color: #c5c2b1;
      color: #fff;
      font-size: 1rem;
      margin-top: 10px;
      border: none;
  }
  .btn2{
    background-color:rgb(69, 145, 180);
    border-radius: 35px;
    border: none;
    color: rgb(48, 48, 48);
    padding: 5px 70px 5px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .btn2 {
    background-color:rgb(69, 145, 180);
    color: rgb(48, 48, 48);
    font-size: 1rem;
    margin-top: 10px;
    border: none;
  }
  .btn2:hover{
    background-color: #8bb2c9;
      color: #fff;
      font-size: 1rem;
      margin-top: 10px;
      border: none;
  }