.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    /* padding-top: 10%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.title {
    font-size: 3rem;
    margin-bottom: 30px;
    padding-top: 60px;
    padding-bottom: 40px;
    font-weight: bold;
    color: green;
}

.list {
    display: flex;
    justify-content: center;
    font-family: "Monaco",  monospace;
    list-style: none;
    margin: 10px;
    padding: 1px;
    flex-wrap: wrap;
    width: 80vw;
}

.listItem {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border: 3px solid rgb(151, 151, 151);
    border-radius: 10px;
    font-size: 1.4rem;
    font-family: "Monaco",  monospace;
    background-color: #fff;
}
.listItem > div{
    margin: 10px 8px;
}


