/* Style ของหน้านี้เป็นการจัดหน้า Home ทั้งหมด */
/* มีการใช้ทักษะการ marquee ข้อความ */
/* มีการใช้ทักษะการ ดึง font ภายนอกมาใช้ */

/* การนำ font จากภายนอกเข้ามาใช้งาน */
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300&family=Varela+Round&display=swap');

/* style หลักของทั้งหน้า  */
.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

/* style ของข้อความวิ่งได้ <marquee> ของหน้า Suggest  */
.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-family: 'Karantina', cursive;
    font-family: 'Varela Round', sans-serif;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
    color: rgb(146, 198, 207);    
}

/* แสดงรายละเอียดจากฟังก์ชัน showCustomers */
.list {
    display: flex;
    justify-content: center;
    font-family: "Monaco",  monospace;
    list-style: none;
    margin: 10px;
    padding: 1px;
    flex-wrap: wrap;
    width: 80vw;   
}

.listItem {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border: 3px solid rgb(151, 151, 151);
    border-radius: 10px;
    font-size: 1.4rem;
    font-family: "Monaco",  monospace;
    background-color: #fff;
    font-family: 'Karantina', cursive;
    font-family: 'Varela Round', sans-serif;
}

.listItem > div{
    margin: 10px 8px;
}

/* style กำหนดสีข้อความ Status เพื่อให้ดูข้อมูลง่ายขึ้น ชัดขึ้น สีโดดเด่น */
.listItem > div > q{
    color: rgb(5, 146, 0);
}



